{
	"gameConfig": {
		"GAME_SERVER_URL": "wss://botws.generals.io/",
		"MAX_TURNS": 5000,
		"userId": "RANDOMLY_GENERATED_STRING",
		"username": "[Bot] Goatbot",
		"customGameId": "cortex",
		"customGameSpeed": 4,
		"warCry": [
			"Beep bop blop!",
			"Learn more at github.com/CorsairCoalition"
		]
	},
	"redisConfig": {
		"HOST": "",
		"PORT": 443,
		"USERNAME": "",
		"PASSWORD": ""
	}
}
